<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventQR">
        <activity android:name=".features.attendee.MyEventRequestsActivity" android:exported="false" />
        <activity android:name=".features.attendee.RequestEventActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeEditProfileActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeProfileActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeNotificationsActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeRewardsActivity" android:exported="false" />
        <activity android:name=".features.attendee.ClaimedRewardsActivity" android:exported="false" />
        <activity android:name=".features.attendee.RewardDetailsActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeTransactionsActivity" android:exported="false" />
        <activity android:name=".features.attendee.RegisteredEventsActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeQrCredentialActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeRegistrationActivity" android:exported="false" />
        <activity android:name=".features.attendee.EventDetailActivity" android:exported="false" />
        <activity android:name=".features.attendee.AttendeeEventsActivity" android:exported="false" />
        <activity android:name=".features.staff.EventRegistrationsActivity" android:exported="false" />
        <activity android:name=".features.staff.IdPrintingActivity" android:exported="false" />
        <activity android:name=".features.staff.StaffTransactionsActivity" android:exported="false" />
        <activity android:name=".features.staff.StaffCameraScannerActivity" android:exported="false" />
        <activity android:name=".features.staff.scanner.ScannerActivity" android:exported="false" />
        <activity android:name=".features.staff.details.StaffAttendeeDetailsActivity" android:exported="false" />
        <activity android:name=".features.staff.result.StaffTransactionResultActivity" android:exported="false" />
        <activity android:name=".features.staff.result.StaffScanResultActivity" android:exported="false" />
        <activity android:name=".features.staff.StaffDashboardActivity" android:exported="false" />
        <activity android:name=".features.staff.StaffProfileActivity" android:exported="false" />
        <activity android:name=".features.organizer.notifications.NotificationManagementActivity" android:exported="false" />
        <activity android:name=".features.organizer.reports.ReportsActivity" android:exported="false" />
        <activity android:name=".features.organizer.OrganizerOverallReportsActivity" android:exported="false" />
        <activity android:name=".features.organizer.rewards.ManageRewardsActivity" android:exported="false" />
        <activity android:name=".features.organizer.rewards.PointRulesPlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.idtemplate.IdTemplatePlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.events.EventManagementHubActivity" android:exported="false" />
        <activity android:name=".features.organizer.transactions.TransactionRulesActivity" android:exported="false" />
        <activity android:name=".features.organizer.scanpurposes.ManageScanPurposesActivity" android:exported="false" />
        <activity android:name=".features.organizer.staff.ManageUsersActivity" android:exported="false" />
        <activity android:name=".features.organizer.events.ManageEventsActivity" android:exported="false" />
        <activity android:name=".features.organizer.shared.OrganizerPlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.dashboard.OrganizerDashboardActivity" android:exported="false" />
        <activity android:name=".features.organizer.attendees.AttendeeManagementActivity" android:exported="false" />
        <activity android:name=".features.organizer.attendees.AttendeeDetailsActivity" android:exported="false" />
        <activity android:name=".features.organizer.transactions.TransactionLogsActivity" android:exported="false" />
        <activity android:name=".features.organizer.reports.EventReportsActivity" android:exported="false" />
        <activity android:name=".features.organizer.NotificationManagementActivity" android:exported="false" />
        <activity android:name=".features.organizer.ReportsActivity" android:exported="false" />
        <activity android:name=".features.organizer.ManageRewardsActivity" android:exported="false" />
        <activity android:name=".features.organizer.PointRulesPlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.IdTemplatePlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.EventManagementHubActivity" android:exported="false" />
        <activity android:name=".features.organizer.TransactionRulesActivity" android:exported="false" />
        <activity android:name=".features.organizer.ManageScanPurposesActivity" android:exported="false" />
        <activity android:name=".features.organizer.ManageUsersActivity" android:exported="false" />
        <activity android:name=".features.organizer.ManageEventsActivity" android:exported="false" />
        <activity android:name=".features.organizer.OrganizerPlaceholderActivity" android:exported="false" />
        <activity android:name=".features.organizer.OrganizerDashboardActivity" android:exported="false" />
        <activity android:name=".features.organizer.AttendeeManagementActivity" android:exported="false" />
        <activity android:name=".features.organizer.AttendeeDetailsActivity" android:exported="false" />
        <activity android:name=".features.admin.AdminEventApprovalBackendActivity" android:exported="false" />
        <activity android:name=".features.admin.AdminEventRequestDetailActivity" android:exported="false" />
        <activity android:name=".features.organizer.TransactionLogsActivity" android:exported="false" />
        <activity android:name=".features.organizer.EventReportsActivity" android:exported="false" />
        <activity
            android:name=".features.auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.common.ComingSoonActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.register.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".features.landing.LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.auth.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>
